<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color: blue;
        }
    </style>
</head>
<body>
    <h1> Title </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dignissimos non voluptas tempore sequi consequatur fugiat sed dolorum quisquam doloribus blanditiis aut nobis suscipit, pariatur saepe, magnam soluta est velit!</p>
</body>
</html>