<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de libros disponibles</h1>

    <table>
        <tr>
            <th>Titulo</th>
            <th>Author</th>
            <th>Editorial</th>
            <th> Precio </th>
            <th> Stock </th>
        </tr>
        {% for book in bookList %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.editorial}}</td>
                <td>{{book.price}}</td>
                {% if book.stock > 0 %}
                    <td> DISPONIBLE </td>
                {% else %}
                    <td> NO DISPONIBLE </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>