<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Detalle del libro seleccioando</h1>
    <p>Titulo : {{book.title}}</p>
    <p>Author : {{book.author}}</p>
    <p>Precio : {{book.price}}</p>
    <p>Editorial : {{book.editorial}}</p>
    {% if book.stock > 0%}
        <p>DISPONIBLE</p>
    {% else %}
        <p> NO DISPONIBLE </p>
    {% endif %}

    <p>{{book.synopsis}}</p>

</body>
</html>