<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p> title : {{book.title}}</p>
    <p> Sinosis : {{ book.sysnopsis }} </p>
    <p> Editorial :
        <a href="{% url 'editorialDetail' book.editorial.id %}">
            {{book.editorial}}
        </a>
    </p>
    <!-- PENDIENTE -->
    <p> Autores : </p>
    <ul>
        {% for author in book.authors.all %}
        <li>
            <a href="{% url 'authorDetail' author.id %}">
                {{author.name}} {{author.lastname}}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>